<% @text_posts.each do |text_post| %>
  <%= div_for text_post do %>
    <%= content_tag :p, text_post.title %>
    <p>
      <%= link_to "Show", text_post_path(text_post) %>
    </p>
  <% end %>
<% end %>
